<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo.</p>
<ul>
  <li><strong>Cliente: </strong>{{ user }}</li>
  <li><strong>Data/hora: </strong>{{ date }}</li>
</ul>
<p>O Horário esta diponível novamente para novos agendamentos.</p>
